@font-face {
  font-family: Roboto-Regular;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');
}