
$first-background-color: #849D8F;
$second-background-color: #8996A6;
$third-background-color: #9D8B84;
$basic-black:   #323232;
$basic-light-black: #5a5a5a;
$basic-neitral:     #f8f7f4;
$basic-green:     #849d8f;
$menu-hover-background-color:       #FBDED7;
$menu-active-background-color:     #F6B5A5;
$menu-focus-background-color:      #d07058;
$menu-shadow-color: rgba(0, 0, 0, 0.4);
$btn-gradient-second-color: #E74A35;
$authorization-link-second-color:#ffbc9e;
$underline-color: #98ada1;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;


$tablet-bp: 991px;
$mobile-bp: 575px;
