.advantages-wrap {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 306px;;
  margin: 0;
  padding: 30px 20px 25px 20px ;
  color: $basic-black;
  background-image: url(../images/_vaflya_fon_1526.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 16px;
}

.advantages{
  &__description {
    display: block;
    margin: 0 0 10px 0;
    font-family: Roboto-Medium;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  &__list {
    display: grid;
    grid-template-columns: 540px 540px;
    row-gap: 13px;
    column-gap: 27px;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__text {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 0 0 57px;
    width: 100%;
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &--technology::before{
        content:"";
        position: absolute;
        width: 49px;
        height: 49px;
        left: 0;
        top: 0;
        z-index: 2;
        background-image:url(../images/morozhenko_2987.png);
    }
    &--cooking::before{
      position: absolute;
      content:"";
      width: 49px;
      height: 49px;
      left: 0;
      top: 0;
      z-index: 2;
      background-image:url(../images/listik_2993.png);
    }
    &--buying::before{
      position: absolute;
      content:"";
      width: 49px;
      height: 49px;
      left: 0;
      top: 0;
      z-index: 2;
      background-image:url(../images/korova_2991.png);
    }
    &--delivery::before{
      position: absolute;
      content:"";
      width: 49px;
      height: 49px;
      left: 0;
      top: 0;
      z-index: 2;
      background-image:url(../images/gradusnik_2989.png);
    }  
}
}
