<header class="main-header container">
  <h1 class="visually-hidden">онлайн-магазин мороженного Glasy shop</h1>
  <div class="main-header-top">
    <div class="nav__wrap nav__wrap--left"><a class="nav__logo-link" href="#" >
      <img src="../assets/images/main-logo.svg" alt="Логотип магазина" width="154" height="64"> 
    </a>
      <nav>
      <ul class="site-navigation">
      <li class="site-navigation__item">
      <a href="#" class="site-navigation__item-link">Каталог</a>
        <ul class="dropdawn-menu">
          <li class="dropdawn-menu__item"><a class="dropdawn-menu__link" href="#">Новинки</a></li>
          <li class="dropdawn-menu__item"><a class="dropdawn-menu__link" href="#">Щербеты</a></li>
          <li class="dropdawn-menu__item"><a class="dropdawn-menu__link" href="#">Сливочное</a></li>
          <li class="dropdawn-menu__item"><a class="dropdawn-menu__link" href="#">Фруктовый лёд</a></li>
          <li class="dropdawn-menu__item"><a class="dropdawn-menu__link" href="#">Мелорин</a></li>
        </ul>
      </li>
      <li class="site-navigation__item">
      <a class="site-navigation__item-link" href="#">Доставка и оплата</a>
      </li>
      <li class="site-navigation__item">
      <a class="site-navigation__item-link" href="#">О Компании</a>
     </li>
    </ul>
  </nav>
    </div>
    <ul class="nav-right__list">
    <li>
      <div class="search-wrap">
      <a href="#" class="link-search" aria-label="Поиск">
        <svg class = "search-icon" aria-hidden="true"
        focusable="false" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px"
        height="17px" viewBox="0 0 17 17" enable-background="new 0 0 17 17" xml:space="preserve">
          <path d="M16.958,15.527L11.75,10.32C12.533,9.247,13,7.93,13,6.5C13,2.91,10.09,0,6.5,0S0,2.91,0,6.5
            S2.91,13,6.5,13c1.438,0,2.763-0.473,3.839-1.263l5.205,5.204L16.958,15.527z M6.5,11C4.019,11,2,8.981,2,6.5S4.019,2,6.5,2
            S11,4.019,11,6.5S8.981,11,6.5,11z"/>
      </svg>
      </a>
    </div>
   </li>
    <li class="login">
        <a class="nav-right__link" href="#">Вход
          <svg  class="authorization-icon" aria-hidden="true"
          focusable="false" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.04 14.88L12.96 9.5L6.04 4.13V7.04H0V11.96H6.04V14.88Z"/>
            <path d="M18 0H5C4.46957 0 3.96086 0.210714 3.58579 0.585786C3.21071 0.960859 3 1.46957 3 2V4H5V2H18V17H5V15H3V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19H18C18.5304 19 19.0391 18.7893 19.4142 18.4142C19.7893 18.0391 20 17.5304 20 17V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"/>
            </svg>   
        </a>
    </li>
    <li class="nav__item">
      <a class="basket-link nav-right__link" href="#" aria-label="Корзина">
        <svg class ="basket-icon" aria-hidden="true"
        focusable="false" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        <g>
        <path  d="M5.657,2.031L5.422,0H0v2h3.64l1.5,13h13.988l1.699-12.969H5.657z M17.372,13H6.922L5.888,4.031h12.66
          L17.372,13z"/>
        <circle  cx="6.984" cy="18" r="2"/>
        <circle  cx="15.984" cy="18" r="2"/>
        </g>
      </svg>
        Пусто
      </a>
    </li>
  </ul>
</nav>
</div>
<div class="working-info__conainer">
  <h2 class="visually-hidden">График работы</h2>
  <p class="working-info__text">С 10 до 20, ежедневно</p>
  <a href="tel:+78124502525" class="working-info__link">8 812 450-25-25</a>
</div>
</header>

