<section class="login-wrap">
  <!-- <h2>вход</h2> -->
  <form action="#">
    <input class="authorization__login-input" type="email" name="" id="" placeholder="email@example.com">
    <input class="authorization__password-input" type="password" name="" id="" placeholder="••••••••">
    <div class="authorization__link-button">
      <button class= "button authorization__button" type="submit">Войти</button>
      <div class="authorization__link-wrap">
        <a class="authorization__link" href="#">Забыли пароль?</a>
        <a class="authorization__link" href="#">Новая регистрация</a>
      </div>
    </div>
  </form>
</section> 